Logger/Logger/configuration.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="LoggerConfig"
		   targetNamespace="LogConfig"
		   xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
	<xs:element name="Logger">
		<xs:complexType>
			<xs:all>
				<xs:element name="LogPath" type="xs:string"/>
				<xs:element name="FileNameRoot" type="xs:string"/>
				<xs:element name="MaxFileCount" type="xs:unsignedInt"/>
				<xs:element name="FlushSec" type="xs:unsignedInt" minOccurs="0"/>
				<xs:element name="MaxFileEventCount" type="xs:unsignedInt" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
</xs:schema>
